*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: #043156;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: white;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #043156;
}

.container h2{
    color: #f4a32c;
    padding: 10px;
}

button{
    background: #FF6347;
    color: white;
    font-size: 22px;
    padding: 8px 20px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}